@font-face {
    font-family: "BebasNeue-Regular";
    src: url("/fonts/BebasNeue");
  }
  
  .BebasNeue-Regular {
    font-family: "BebasNeue-Regular";
  }

  html {
    width: 100%;
    height: 100%;
    background-color: #15172A;
  }

  #video {
    position:relative;
    object-fit: cover;
    width: 100%;
  }
  #blur {
    -webkit-filter: blur(10px);
  }

  #headingSmall {
    color: #F66F7E;
    font-family: 'Bebas Neue';
    margin-left: 0.5vw;
  }